:root {
    color-scheme: light dark;

    --bg-color: light-dark(#ffffff, #121212);
    --text-color: light-dark(#333333, #ffffff);
    --accent-color: light-dark(#0066cc, #4da6ff);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: SF-Pro;
    margin: 0px;
}
a {
    color: var(--accent-color);
}
div.title {
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
div.title > img {
    width: 100px;
    height: 100px;
}
h1 {
    font-weight: 600;
    font-size: 24px;
}
div.continue {
    /* margin: auto; */
    text-align: center;
    position: fixed;
    bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation-name: continueButton;
    animation-duration: 2s;
    animation-delay: 9s;
    animation: continueButton 1.7s ease-in-out 8s 1 normal forwards;
    pointer-events: none;
}
div.continue a {
    color: white;
    background-color: rgb(0, 110, 255);
    padding: 20px 110px 20px 110px;
    text-decoration: none;
    border-radius: 25px;
}
div.continue > a:active{
    background-color: rgb(109, 187, 255);
}
/*Animations*/
@keyframes continueButton {
    from {display: 0; pointer-events: none;}
    to {opacity: 1; pointer-events: auto;}
}

/*Fonts*/
@font-face {
    font-family: SF-Pro;
    src: url(fonts/SF-Pro.ttf);
}